<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>


  <targets async ="true">

    <target xsi:type="Mongo"
            name="mongo"
            includeDefaults="false"
            connectionString="mongodb+srv://super:superheroes@myacademicpyramidlogging-if0cx.mongodb.net/test?retryWrites=true"
            collectionName="ErrorLogs"
            cappedCollectionSize="26214400">

      <field name="Date" layout="${date}"/>
      <field name="Message" layout="${message}" />
      <field name="Target Site" layout="${callsite}" />
      <field name="Line of Code" layout="${callsite-linenumber}" />
      <field name="Logged in User" layout="${aspnet-user-identity}" />
      <field name="User Request" layout="${aspnet-request}" />
    </target>



    <target xsi:type="Mongo"
            name="telemetry"
            includeDefaults="false"
            connectionString="mongodb+srv://super:superheroes@myacademicpyramidlogging-if0cx.mongodb.net/test?retryWrites=true"
            collectionName="TelemetryLogs"
            cappedCollectionSize="26214400">

      <field name="Date" layout="${date}"/>
      <field name="Action" layout="${event-properties:item=userAction}"/>
      <field name="User IP Address" layout="${aspnet-request-ip}"/>
      <field name ="IP IP" layout ="${aspnet-request:serverVariable = remote_addr"/> }
    </target>




    <target xsi:type="Mail"
          name="mail"
          smtpServer="smtp.gmail.com"
          smtpPort="587"
          smtpAuthentication="Basic"
          smtpUserName= "superheroes491@gmail.com"
          smtpPassword="CECS491A"
          enableSsl = "true"
          to="arturopena3@yahoo.com"
          from="superheroes491@gmail.com"
       />

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" level="Error" writeTo="mongo" />
    <logger name="*" level="Info" writeTo="telemetry" />
    <logger name="*" level="Fatal" writeTo="mail" />


    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
